@model IEnumerable<HomeIndexViewModel>

<h2>Sensors</h2>
<table id="user-sensors" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="col-md-2 text-center">Sensor name</th>
            <th class="col-md-4 text-center">Description</th>
            <th class="col-md-1 text-center">Current value</th>
            <th class="col-md-1 text-center">Access level</th>
            <th class="col-md-1 text-center"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sensor in Model)
        {
            <tr>
                <td>@sensor.Name</td>
                <td>@sensor.Description</td>
                <td>@sensor.CurrentValue</td>
                <td class="col-lg-offset-12">@sensor.Accesslevel</td>
                <td>
                    <button type="submit"class="btn btn-info active" role="button">Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="submit" class="btn-info col-md-2">View sensors on map</button>

@section Scripts{
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#user-sensors').DataTable();
        });
    </script>
}