@model RegisterEditSensorModel

<h2>Edit Sensor</h2>
<div>
    <p> @Model.Name</p>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditSensor">

            <div class="form-group">
                <partial name="_UserSensorFieldsPartial" model="@Model" />
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

