@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Smart Dormitory</h3>
<div>
    <p>The Smart Dormitory is an information system which allows its users to collect real time data from various sensors located in college dormitories.</p>
    <p>The data will be analyzed by independent research organization to evaluate the living conditions and map them to the performance of the students.</p>
    <p>Participants should have installed specific sensor equipment and register to Smart Dormitory.</p>
    <p>The following sensor types are supported - temperature, humidity, noise, electric power consumption, windows/doors.</p>
</div>
