@{
    ViewData["Title"] = "Home Page";
}

<h2></h2>
<div class="container">   
    <div class="text-center">      
        <h2>Welcome to the Smart Dormitory!</h2>
        <p>
            <i>
                The Smart Dormitory is an informational system which allows its users to collect real time
                data from various sensors located in college dormitories.</i>                                 
        </p>
        <p>
           <i>The data will be analyzed by independent research organization to evaluate
            the living conditions and map them to the performance of the students.</i>
        </p>
        <p>
            <i>Participants should have installed specific sensor equipment and register to Smart Dormitory.</i>
        </p>
        <p>
            <i>The following sensor types are supported - temperature, humidity, noise,
            electric power consumption, windows/doors.</i>
        </p> 
        <p><strong>See some of Smart Dormitory`s sensors on the map below!</strong></p>
        <p><strong style="font-size:18px">Register today and make your dormitory "Smart"!</strong></p>
        
    </div>
    <br />
    <div class="text-center" id="map" style="height:300px; width:auto;"></div>
</div>

@section Scripts{
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSf7uuCGHIfwKEs5FjbBwG7ajA_0NuME4&callback=initMap">
    </script>
    <script type="text/javascript">
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 42.697708, lng: 23.321867 },
                zoom: 13
            });
              $.get("@Url.Action("GetPublicSensors", "Home")", function(data)
            {
                    var marker = [];
                    var contentStr = [];
                    var infowindow = [];

                    for (var i = 0; i < data.length; i++) {
                        marker[i] = new google.maps.Marker({
                            position: { lat: parseFloat(data[i].Latitude), lng: parseFloat(data[i].Longitude)},
                            map: map,
                            title: data[i].Name
                        });
                        //contentStr[i] = data[i].Name;

                        //infowindow[i] = new google.maps.InfoWindow({
                        //    content: contentStr[i]
                        //});

                        //var mdl = marker[i];
                        //google.maps.event.addListener(marker[i], 'mouseover', function (mdl, i) {
                        //    return function () {
                        //        infoWindow[i].open(map, marker[i]);
                        //    }
                        //});

                        //google.maps.event.addListener(marker[i], 'mouseout', function (mdl, i) {
                        //    return function () {
                        //        infoWindow[i].close();
                        //    }
                        //});
                    }
                }
            );
         }
    </script>

}
